body{

  color: #40514E;
  margin:0;
  text-align: center;
   font-family: 'Merriweather', serif;


}




div {
  background-color: #E4F9F5;

}

h1{
margin-top: 0px;
padding-top:-.2em;
position: relative;
bottom: 37px;
top: 10px
font-size: 3em;
 font-family: 'Sacramento', cursive;
font-size: 3.4em;
color: #66BFBF;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;

}
h3{
  color: #66BFBF;
font-family: Montserrat;

}



.txt2{
font-family: monospace;
font-weight: bold;
color: #66BFBF;
}


.txt{
  position: relative;
  bottom: 69px;
  font-size:20px;
  font-family: monospace;
  color: #66BFBF;
}

.bottom-cloud{
  position: absolute;
}

.top-cloud{
  position: absolute;
  top: 80px;
  right:690px;
}

.top-container{
  padding-top: 10%;
}

a{
  text-decoration: none;
  color: #11999E;
  margin:20px 20px;
  font-family: Montserrat;
}

a:hover{
  color: #EAF6F6;
  font-family: Montserrat;
}

.img1{
width:80px;
height: 80px;
border-radius: 2em;

}

.moun{

margin-bottom:10px;


}


.middle-container{
  background-color:white;
  margin-top: 100px;
}

.skills{
  background-color: white;

}

.skill-row{
  background-color: white;
  width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}
.contact-me{
  background-color: white;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 100px;
  padding:40px;
}
.profile{
  background-color: white;
}
.img3{
  width: 25%;
  float: left;
  margin-right:30px ;

}


.chillies{
  width: 25%;
  float:left;
  margin-right:30px ;

}
p{
  font-family: Montserrat;
  margin-top: 34px;
}


.chillies1{
  background-color: white;
  width: 50%;
   margin: 160px auto 170px auto;
   text-align: left;
   line-height: 2;
}

.text1{
  margin-top: 47px;
}
.intro{
  width: 30%;
  margin: auto;;
  margin-top: 40px;
  margin-bottom: 30px;
}

hr{
  border:dotted  #EAF6F6 6px;
  border-bottom: none;
    width: 4%;
    margin:100px auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px ;
}


.btn {
  background: #17ffd1;
  background-image: -webkit-linear-gradient(top, #17ffd1, #2ba8b8);
  background-image: -moz-linear-gradient(top, #17ffd1, #2ba8b8);
  background-image: -ms-linear-gradient(top, #17ffd1, #2ba8b8);
  background-image: -o-linear-gradient(top, #17ffd1, #2ba8b8);
  background-image: linear-gradient(to bottom, #17ffd1, #2ba8b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1cdbdb;
  background-image: -webkit-linear-gradient(top, #1cdbdb, #0affce);
  background-image: -moz-linear-gradient(top, #1cdbdb, #0affce);
  background-image: -ms-linear-gradient(top, #1cdbdb, #0affce);
  background-image: -o-linear-gradient(top, #1cdbdb, #0affce);
  background-image: linear-gradient(to bottom, #1cdbdb, #0affce);
  text-decoration: none;
}
.footer-link{
  margin-top: 20px;
}
